---
layout: index
---
<div class="container-fluid flush-with-header">
	<div class="row margin-bottom-40 row-corporate bg-light-1">
		<div class="container">
			<div class="col-xs-8 col-sm-6 row-corporate-text-container">
				<div class="row-corporate-text">
					<h1><b class="require">Hacking</b> to the Gate.</h1>
					<h4 class="wow fadeIn">2020s數位研致力开源拖拉机, 为您呈现优雅的网络/物联成套解决方案, 直面隐私危机.
					</h4>
				</div>
			</div>
			<div class="col-xs-4 col-sm-6">
				<img src="/img/front/75581187.png">
			</div>
		</div>
	</div>
</div>
<div class="container">
	<div class="row service-box margin-bottom-40">
		<div class="col-md-4 col-sm-4">
			<div class="service-box-heading">
				<em><i class="fa fa-location-arrow blue wow rollIn"></i></em>
				<span>Edge Compute | 公益服务</span>
			</div>
			<p>我们的门户一站式整合了诸多实用Serverless图形前端, 便于快速访问self-hosted服务</p>
			<img class="img-responsive" src="/img/front/36289488.png">
		</div>
		<div class="col-md-4 col-sm-4">
			<div class="service-box-heading">
				<em><i class="fa fa-check red wow rollIn"></i></em>
				<span>Well Documented | 优质文档</span>
			</div>
			<p>我们会不定期更新一些有趣的项目、技术博客和泛ACG文化娱乐内容.</p>
			<img class="img-responsive" src="/img/front/110590100.png">
		</div>
		<div class="col-md-4 col-sm-4">
			<div class="service-box-heading">
				<em><i class="fa fa-compress green wow rollIn"></i></em>
				<span>Affiliate Services | 联盟营销</span>
			</div>
			<p>我们推荐优质网络资源并支持远程实施交付开箱即用的网络服务, 充分满足您的个人项目需求</p>
			<img class="img-responsive" src="/img/front/83942600.png">
		</div>
	</div>
</div>
<div class="container-fluid">
	<div class="row margin-bottom-40 row-corporate bg-light-2">
		<div class="container">
			<div class="col-xs-4 col-xs-pull-4 col-sm-pull-0 col-sm-6 wow fadeIn">
				<img src="/img/front/61652569.png">
			</div>
			<div class="col-xs-6 row-corporate-text-container">
				<div class="row-corporate-text">
					<h1>Make things just <b class="wow fadeIn require">Work</b>.</h1>
					<h4 class="wow fadeIn">我们捍卫消费者购买电子产品的维修权与破解权, 积极同DIY社区展开交流合作,
						贡献有趣的玩法设计、承接个人项目的客制化硬件生产并通过维修与回收再利用的方式为环保作出努力.
					</h4>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="main">
	<div class="container">
		<!-- BEGIN STEPS -->
		<div class="row margin-bottom-40 front-steps-wrapper front-steps-count-3 wow
    fadeIn">
			<div class="col-md-4 col-sm-4 front-step-col">
				<div class="front-step front-step1">
					<h2>保持技术中立</h2>
					<p>Strive for justice and righteousness in all things.</p>
				</div>
			</div>
			<div class="col-md-4 col-sm-4 front-step-col">
				<div class="front-step front-step2">
					<h2>保持自我约束</h2>
					<p>Create and share more than you destroy.</p>
				</div>
			</div>
			<div class="col-md-4 col-sm-4 front-step-col">
				<div class="front-step front-step3">
					<h2>保持建设性</h2>
					<p>Never have an excuse not to improve.</p>
				</div>
			</div>
		</div>
		<!-- END STEPS -->

		<!-- BEGIN RECENT WORKS -->
		<div class="row recent-work margin-bottom-40">
			<div class="col-md-3">
				<h2 class="wow fadeIn"><a href="/projects/">Recent Work</a></h2>
				<p class="wow fadeIn">更多细节可访问站内新闻和博文</p>
			</div>
			<div class="col-md-9">
				<div class="owl-carousel owl-carousel3">
					<div class="recent-work-item">
						<em>
							<img src="/img/front/72937611.jpg" alt="Amazing Project" class="img-responsive">
							<a href="portfolio-item.html"><i class="fa fa-link"></i></a>
							<a href="/img/front/72937611.jpg" class="fancybox-button" title="Project Name #1"
								data-rel="fancybox-button"><i class="fa fa-search"></i></a>
						</em>
						<a class="recent-work-description" href="/projects/#project1">
							<strong>智能家居自动化</strong>
							<b>Home automation</b>
						</a>
					</div>
					<div class="recent-work-item">
						<em>
							<img src="/img/front/51492819.jpg" alt="Amazing Project" class="img-responsive">
							<a href="portfolio-item.html"><i class="fa fa-link"></i></a>
							<a href="/img/front/51492819.jpg" class="fancybox-button" title="Project Name #2"
								data-rel="fancybox-button"><i class="fa fa-search"></i></a>
						</em>
						<a class="recent-work-description" href="/projects/#project2">
							<strong>PC上的NintendoSwitch体验</strong>
							<b>DockSafe</b>
						</a>
					</div>
					<div class="recent-work-item">
						<em>
							<img src="/img/front/alice.jpg" alt="Amazing Project" class="img-responsive">
							<a href="portfolio-item.html"><i class="fa fa-link"></i></a>
							<a href="/img/front/alice.jpg" class="fancybox-button" title="Project Name #3"
								data-rel="fancybox-button"><i class="fa fa-search"></i></a>
						</em>
						<a class="recent-work-description" href="/projects/#project3">
							<strong>个人网络数据中心</strong>
							<b>Home-lab</b>
						</a>
					</div>
					<div class="recent-work-item">
						<em>
							<img src="/img/front/kazemi.jpg" alt="Amazing Project" class="img-responsive">
							<a href="portfolio-item.html"><i class="fa fa-link"></i></a>
							<a href="/img/front/kazemi.jpg" class="fancybox-button" title="Project Name #4"
								data-rel="fancybox-button"><i class="fa fa-search"></i></a>
						</em>
						<a class="recent-work-description" href="/projects/#project4">
							<strong>业余无线电</strong>
							<b>SDR</b>
						</a>
					</div>
					<div class="recent-work-item">
						<em>
							<img src="/img/front/62043836.jpg" alt="Amazing Project" class="img-responsive">
							<a href="portfolio-item.html"><i class="fa fa-link"></i></a>
							<a href="/img/front/62043836.jpg" class="fancybox-button" title="Project Name #5"
								data-rel="fancybox-button"><i class="fa fa-search"></i></a>
						</em>
						<a class="recent-work-description" href="/projects/#project5">
							<strong>社团网站承建</strong>
							<b>スィシカ同人サークル</b>
						</a>
					</div>
					<div class="recent-work-item">
						<em>
							<img src="/img/front/90867151.jpg" alt="Amazing Project" class="img-responsive">
							<a href="portfolio-item.html"><i class="fa fa-link"></i></a>
							<a href="/img/front/90867151.jpg" class="fancybox-button" title="Project Name #4"
								data-rel="fancybox-button"><i class="fa fa-search"></i></a>
						</em>
						<a class="recent-work-description" href="">
							<strong>More</strong>
							<b>摸了</b>
						</a>
					</div>
				</div>
			</div>
		</div>
		<!-- END RECENT WORKS -->

		<!-- BEGIN TABS AND TESTIMONIALS -->
		<div class="row mix-block margin-bottom-40">
			<!-- TABS -->
			<div class="col-md-7 tab-style-1">
				<ul class="nav nav-tabs">
					<li class="active"><a href="#tab-1" data-toggle="tab">CAIRA设计</a></li>
					<li><a href="#tab-2" data-toggle="tab">ベクトル重工</a></li>
				</ul>
				<div class="tab-content">
					<div class="tab-pane row fade in active" id="tab-1">
						<div class="col-md-3 col-sm-3">
							<a href="/img/front/76721959.jpg" class="fancybox-button" title="Image Title"
								data-rel="fancybox-button">
								<img class="img-responsive" src="/img/front/76721959.jpg" alt="">
							</a>
						</div>
						<div class="col-md-9 col-sm-9">
							<p class="margin-bottom-10">將實穿性與藝術感相結合, 回到衣服和穿著者本身的關係中.
							</p>
							<p><a class="more" href="javascript:;">Read more <i class="icon-angle-right"></i></a></p>
						</div>
					</div>
					<div class="tab-pane row fade" id="tab-2">
						<div class="col-md-9 col-sm-9">
							<p>ベクトル重工是數位研硬件开发小组的名称, 致敬《东方Project》系列中河童科技的脑洞. 业务范围嵌入式开发、壳体设计.
							</p>
						</div>
						<div class="col-md-3 col-sm-3">
							<a href="/img/front/50622484.jpg" class="fancybox-button" title="Image Title"
								data-rel="fancybox-button">
								<img class="img-responsive" src="/img/front/50622484.jpg" alt="">
							</a>
						</div>
					</div>
				</div>
			</div>
			<!-- END TABS -->

			<!-- TESTIMONIALS -->
			<div class="col-md-5 testimonials-v1">
				<div id="myCarousel" class="carousel slide">
					<!-- Carousel items -->
					<div class="carousel-inner">
						<div class="active item">
							<blockquote>
								<p>我好想和现役JK交往哼哼啊啊啊啊啊啊啊啊啊啊</p>
							</blockquote>
							<div class="carousel-info">
								<img class="pull-left" src="https://avatars.githubusercontent.com/u/27397756?v=4"
									alt="">
								<div class="pull-left">
									<span class="testimonials-name">JK觸發器</span>
									<span class="testimonials-post">站长</span>
								</div>
							</div>
						</div>
						<div class="item">
							<blockquote>
								<p>我是个正经人。</p>
							</blockquote>
							<div class="carousel-info">
								<img class="pull-left" src="https://avatars.githubusercontent.com/u/20477126?v=4"
									alt="">
								<div class="pull-left">
									<span class="testimonials-name">Tempoblink</span>
									<span class="testimonials-post">Object oriented programmer</span>
								</div>
							</div>
						</div>
						<div class="item">
							<blockquote>
								<p>说实话真的不想再给网站做改版了. 审美这种东西和人类犯的错误一样是不断重复的</p>
							</blockquote>
							<div class="carousel-info">
								<img class="pull-left" src="https://i.loli.net/2021/07/30/TgUHiXsoVWqD7fS.jpg" alt="">
								<div class="pull-left">
									<span class="testimonials-name">Clang</span>
									<span class="testimonials-post">CAIRA首席设计师</span>
								</div>
							</div>
						</div>
					</div>

					<!-- Carousel nav -->
					<a class="left-btn" href="#myCarousel" data-slide="prev"></a>
					<a class="right-btn" href="#myCarousel" data-slide="next"></a>
				</div>
			</div>
			<!-- END TESTIMONIALS -->
		</div>
		<!-- END TABS AND TESTIMONIALS -->
		<!-- BEGIN BLOCKQUOTE BLOCK -->
		<div class="row quote-v1 margin-bottom-40 ">
			<div class="col-md-9">
				<span>喜欢这个Hexo页面设计吗?</span>
			</div>
			<div class="col-md-3 text-right">
				<a class="btn-transparent" href="https://github.com/ptsteadman/hexo-theme-corporate" target="_blank"><i
						class="fa fa-rocket margin-right-10"></i>找同款</a>
			</div>
		</div>
		<!-- END BLOCKQUOTE BLOCK -->
	</div>
</div>
